@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#FFF9F9;
    background-image: url(/images/bg-pattern-desktop.svg);
}
main{
    display: flex;
    font-family: "Josefin sans", sans-serif;
}
.img-mobile{
    display: none;
}
svg{
    margin-bottom: 20px;
}
.first{
    padding: 4% 10%;
    max-width: 100%;
}
.title{
    font-size: 40px;
    letter-spacing: 1rem;
    line-height: 70px;
    margin: 20px 5px;
    
}
.title span{
    font-weight: 200;
    color: #CE9797;
}
p{
    color: #CE9797;
    line-height: 30px;
    margin-bottom: 20px;
}
.img-desktop{
    flex-basis: 30%;
    width: 500px;
}

input{
    border:none;
    border: 1px solid #e1cfd1;
    border-radius: 30px;
    padding: 1rem 2rem;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-family: "Josefin Sans", sans-serif;
    background: none;
}
input::-webkit-input-placeholder{
    color: #e1cfd1;
}
input:focus {
    border: 2px solid #f96262;
}
button{
    padding: 1rem 2.7rem;
    outline: none;
    border: none;
    background: linear-gradient(to right, #f8bfbf, #ee8b8b);
    border-radius: 30px;
    cursor: pointer;  
    position: relative;
    top: -50px;
    right: -415px;
}
button:hover {
    background: #fad6d6;
}
img.error-icon{
    position: absolute;
    top: 81%;
    right: 46rem;
    visibility: hidden;
}
img.error-icon.error{
    visibility: visible;
}
form small{
    position: relative;
    left: -5rem;
    top: -10px;
    visibility: hidden;
}
form small.error{
    visibility: visible;
    color: #f96262;
}
.attribution{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin-top: 20px;
}
@media (max-width: 600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color:#FFF9F9;
        background-image: url(/images/bg-pattern-desktop.svg);
    }
    main{
        display: flex;
        font-family: "Josefin sans", sans-serif;

    }
    .img-mobile{
        display: block;
        width: 100%;
    }
    svg{
        margin-bottom: 20px;
    }
    .first{
        padding: 0;
        max-width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .title{
        font-size: 30px;
        letter-spacing: 1rem;
        line-height: 70px;
        margin: 30px 5px;
        
    }
    .title span{
        font-weight: 200;
        color: #CE9797;
    }
    p{
        color: #CE9797;
        line-height: 30px;
        margin-bottom: 20px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .img-desktop{
        display: none;
    }
    form{
        display: flex;
    }
    .search{
        border: solid 0.5px #CE9797 ;
        border-radius: 20px;
        padding: 15px 20px;
        width: 300px;
        font-family: "Josefin sans", sans-serif;        
    }
    .submit{
        padding:15px;
        background-image: url(/images/icon-arrow.svg), linear-gradient(135deg, #f8bfbf, #ee8c8c);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 40px;
        width: 75px;
        position: relative;
        left: -30px;
    }
}