@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');
*
{margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color:#FFF9F9;
}
main{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}
.first{
    padding: 4% 10%;
}
.title{
    font-weight: 500;
    font-size: 65px;
    letter-spacing: 15px;
    color: #413A3A;
    margin-top: 50px;
    line-height: 70px;
}
.title span{
    font-weight: 300;
    display: flex;
    color: #CE9797;
}
.search{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    color: #CE9797;
    margin-top: 20px;
    line-height: 25px;
    margin-right: 60px;
}
img{
    max-width: 465px;
}