@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap');
*
{margin: 0;
padding: 0;
box-sizing: border-box;}
main{
    display: flex;
    background-color:#FFF9F9;
    font-family: 'Josefin Sans', sans-serif;
}
.first{
    border: solid red;
}
.title{
    font-weight: 500;
    font-size: 70px;
    letter-spacing: 15px;
    color: #413A3A;
    
}
.title span{
    font-weight: 200;
    display: flex;
    color: #CE9797;
}
.search{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    color: #CE9797;
}
img{
    max-width: 465px;
}